/*
Project Name: Relaxr Landingpage
Client: Relaxr
Author: Sabrina
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/




body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;

     font-family: 'Open Sans', sans-serif;

     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     }
     

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}


header {
 
}


header {
  background-image: url(../header_bg.jpg);
  
  
}

h1 {
  font-size: 24px; 
  font-weight: 900;
  color: #f0efef;
  padding: 12px;
  margin: 10px;
  }



h2 {
  font-size: 24px; 
  font-weight: 600;
  color: #f0efef;
  text-align: center;
  padding: 12px;
  margin: 10px;
}


.button1 {
  display: flex;
  justify-content: center;
  font-size: 14px; 
  font-weight: 600;
  background: #f9e42e;
  text-align:center;
  color: #033048;
  border-radius: 1px;
  padding: 5px;
  height: 2rem;
  width: 120px;
  margin: 20px;
  
  
  }



.section-benefits {
  background: #f0efef;
  padding: 25px 50px;
  
  }
  
  h3 {
    font-size: 20px; 
    font-weight: 600;
    color: #033048;
    padding: 2px;
  }
  

 p {
  font-size: 13px;
  font-weight: 300;
  color: #121212;
  padding: 2px;
  }
  
ul {
  margin:20px;
}

li {
  font-size: 13px;
  font-weight: 300;
  padding: 2px;
  color: #121212;
}

.section-quote {
background-image: url(../images/testimonial_bg.jpg);
}

.quote {
  font-size: 18px;
  font-weight: 300;
  width: 50%;
  color: #f0efef;
  text-align: center;
  font-style: italic;
  padding: 10px;
  margin: 10x auto 10px;
  display: flex;
  justify-content: center;
  
  
   }
    
.testimonial {
    font-size: 18px;
    font-weight: 600;
    color: #f0efef;
    text-align: center;
    padding: 1px;
    margin: 1px;
   }
  
.signup {
   background: #f9e42e;
   margin: 5px auto 5px;
   box-align: center;
 }

.button2 {
  font-size: 12px; 
  font-weight: 600;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
 
  background:  #033048;
  border-radius: 1px;
  padding: 25px auto 25px;
  height: 2rem;
  width: 120px;
  margin: 20px;

  
}


footer {
  background: #121212;
    }


.brand {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  padding: 5px auto 0;
}


.socialmedia {
  display: flex;
  justify-content: center;
  
 }

.copyright {
  font-size: 9px;
  font-weight: 600;
  color: #f0efef;
  margin: 10px;
  text-align: center;
  }





/******************************************
/* ADDITIONAL STYLES
/*******************************************/

